.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 3rem;
}

.user-thumb {
  width: 2rem;
  height: 2rem;
}

.home-img {
  width: 25rem;
  height: 25rem;
}

.btn-create-account a {
  color: #fff;
}

.login-container {
  height: 100vh;
}

.login-form {
  max-width: 20.625rem;
}

.login-form label {
  cursor: pointer;
}

.font-small-075 {
  font-size: 0.75rem;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.dashboard-card {
  min-width: 500px;
  height: 300px;
}

.card-body {
  max-height: 220px;
}

.fs-7 {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-items-height {
  width: 150px;
}

.members-card {
  min-width: 200px;
  max-height: 210px;
}
